<table class="table">
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Product</th>
      <th scope="col">Unit price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.products.each do |item| %>
      <tr>
        <td><%= item.get_quantity(@order) %></td>
        <td><strong><%= link_to item.title, item %></strong></td>
        <td><%= number_to_currency(item.unit_price, strip_insignificant_zeros: true, delimiter: ".") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
